<form action="#">
    <div class="rate_wrapp">
        <span class="rate_ti">Your rate:</span>
        <input type="radio" hidden id="radio_1" checked>
        <input type="radio" hidden id="radio_2">
        <input type="radio" hidden id="radio_3">
        <input type="radio" hidden id="radio_4">
        <input type="radio" hidden id="radio_5">
        <div class="star_wrapp">
            <label appStars for="radio_1" class="rate_item icon-star-empty"></label>
            <label appStars for="radio_2" class="rate_item icon-star-empty"></label>
            <label appStars for="radio_3" class="rate_item icon-star-empty"></label>
            <label appStars for="radio_4" class="rate_item icon-star-empty"></label>
            <label appStars for="radio_5" class="rate_item icon-star-empty"></label>
        </div>

    </div>
    <textarea class="rate_text"></textarea>
    <button class="submit" type="submit">Send</button>
</form>

