<form action="#" #revForm="ngForm" (submit)="sendReviev(revForm)" [ngClass]="{disabled: authorized}">
    <div class="rate_wrapp">
        <span class="rate_ti">Your rate:</span>
        <div class="star_wrapp">
            <div class="star_groupp" appStars  *ngFor="let star of stars; let ind = index" [attr.data-index]="ind + 1">
                <input type="radio" hidden id="radio_{{ind}}" name="rate" value="{{ind}}" [(ngModel)]="rate" class="rate_input" required >
                <label  for="radio_{{ind}}" class="rate_item icon-star-empty"></label>
            </div>
        </div>
    </div>
    <textarea class="rate_text" name="text" [(ngModel)]="text" required></textarea>
    <button class="submit" type="submit" [hidden]="revForm.invalid">Send</button>
</form>

